<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Acces Denied</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

</head>
<body>
	<div class="col-md-6 col-md-offset-3">
		
			<div class="panel panel-default spacer01">
				<div class="panel-heading">Problème d'autorisation</div>
				<div class="panel-body">

					<h3 class="red">Vous n'etes pas autoriser pour accéder à cette
						rubrique</h3>

				</div>
			</div>
		
	</div>
</body>
</html>