<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1">
<head>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<meta charset="utf-8">
<title>Entreprise</title>
</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des taxes</div>
			<div class="panel-body">

				<div class="container">
					<form th:action="@{/taxes}" method="get" id="myForm">

						<label>Entreprise:</label> 
						<select name="code" onchange="document.getElementById('myForm').submit()">
						<option th:each="e:${entreprise}" th:text="${e.nom}" 
						th:value="${e.code}"></option></select>
						<button type="submit" class="btn btn-primary">Check</button>

					</form>
				</div>
				<table class="table">

					<tr>
						<th>ID</th>
						<th>Type</th>
						<th>Titre</th>
						<th>Date</th>
						<th>Montant</th>
					</tr>
					<tr th:each="t:${taxes}">
						<td th:text="${t.id}"></td>
						<td th:text="${t.class.simpleName}"></td>
						<td th:text="${t.titre}"></td>
						<td th:text="${t.dateTaxe}"></td>
						<td th:text="${t.montant}"></td>
					</tr>
				</table>
				<div>
					<ul class="nav nav-pills">
						<li th:class="${i.index==pageCourante}?'active':''"
							th:each="p,i:${pages}"><a
							th:href="@{/entreprises(page=${i.index},motCle=${motCle})}"
							th:text="${i.index}"></a></li>
					</ul>
				</div>
			</div>
 
		</div>

	</div>

</body>
</html>